.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
}

.cards {
    padding: 100px 0px;

}

.cards h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.card {
    padding: 20px;
    color: #000;
    background: #F4F4F4;
    border-radius: 20px;
    transition: 300ms;
}

.card:hover {
    transform: scale(1.050);
}

.card:active {
    transform: scale(1);
}

.card img:first-child {
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-img {
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
    max-height: 220px;
    object-fit: cover;
}

.card .card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 2;
}

.card .card-text .flex {
    justify-content: space-between;
}

.card-text h3 {
    font-size: 22px;
}

.card-text strong {
    font-size: 18px;
}