.reset-password-wrapper {
    padding: 50px 0px;

}

.reset-password-wrapper form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 20px;
}

.reset-password-wrapper input {
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
}

.reset-password-wrapper .submit-btn {
    border: none;
    background: dodgerblue;
    color: #fff;
    font-size: 18px;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}