.course-details{
    padding-top: 50px;
}
.course-lessons {
    display: flex;
    align-items: start;
    padding-top: 40px;
    gap: 50px;
}

.course-lessons__list {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 10px;
    height: 480px;
    overflow-y: auto;
}



.video-player {
    width: 855px;
    height: 100%;
}

.course-details .course-title {
    margin-bottom: 10px;
}

.course-lessons__list .lesson {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: 300ms;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 20px;
}

.course-lessons__list .lesson:hover {
    transform: scale(1.01);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid transparent;
}

.course-lessons__list .lesson .video-lesson {
    max-width: 150px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border-radius: 10px;
}


.video-player__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.video-player__btn .next-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}


.button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 12px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-4:focus {
    outline: 1px transparent;
}

.button-4:before {
    display: none;
}

.button-4:-webkit-details-marker {
    display: none;
}

/*  */


.video-player__wrapper {
    width: 100%;
    max-width: 860px;
}

.video-player__wrapper .lesson-desc {
    background: #FAFBFC;
    color: #000;
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
}

.video-player__wrapper .lesson-desc .lesson-desc__text {
    font-size: 14px;
}