.user-data__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* justify-content: space-around; */
    padding-top: 50px;
}


.user-profile__image svg {
    font-size: 120px;
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    max-width: 200px;
    width: 100%;
    padding: 5px 5px;
}

.profile-sidebar a {
    color: #000;
    font-size: 18px;
    display: flex;
    gap: 10px;
    padding: 7px 15px;
    border-radius: 10px;
    transition: 200ms;
}

.profile-sidebar a:hover {
    background: #00000016;
}

.profile-sidebar a svg {
    font-size: 18px;
}



.profile-photo {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}




/*  Main Content  */


.main-content {
    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 100%;
}

.user-data .box {
    display: flex;
}

.user-data .box svg {
    cursor: pointer;
}

.main-content .user-data {
    padding-bottom: 50px;
}

.main-content .user-data label {
    font-size: 15px;
    font-weight: bold;
}

.main-content .user-data .box {
    padding-top: 20px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000021;
    padding-bottom: 15px;
}

.main-content .user-data .box input {
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    border: 1px solid #00000096;
}

.user-data .box svg {
    transition: 200ms;
}

.user-data .box svg:hover {
    transform: scale(1.2);
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.user-data .box svg:active {
    transform: scale(1.1);
}