.controls {
    gap: 10px;
    align-items: center;
}

.controls input {
    cursor: pointer;
}

.play-pause-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    background: #0096FF;
    outline: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
}

.fullscreen-icon {
    font-size: 40px;
    cursor: pointer;
}

.video-container {
    padding-bottom: 50px;
}


.vol-icon {
    font-size: 25px;
}

.seekVideo-icon {
    flex: 1;
}

.vol-input {
    max-width: 50px;
}

.video-module_videoRoot__RXFIL {
    background-color: transparent !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.video-module_videoOverlay__cbySQ {
    background-color: transparent !important;
}