footer {
    background: #111827;
    margin-top: 100px;
}

footer .container .flex:first-child {
    padding: 30px 0px;
    border-bottom: 1px solid #292F3D;
    align-items: start;
}

.flex-links {
    display: flex;
    align-items: start;
    gap: 50px;
}

footer .container .flex {
    justify-content: space-between;
}

.logo-wrapper .footer-logo {
    max-height: 60px;
}

.logo-wrapper p {
    color: #fff;
    font-size: 12px;
    margin-top: 12px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

ul li {
    color: #fff;
    list-style: none;
}

ul li:first-child {
    font-size: 17px;
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}


/*  */

.sub-footer__flex {
    padding: 25px 0px;
}

.sub-footer__flex .desc {
    font-size: 14px;
    color: #fff;
}

.sub-footer__flex .icons {
    display: flex;
    gap: 10px;
}

.sub-footer__flex .icons svg {
    color: #fff;
}