@media(max-width:430px) {
    .container {
        max-width: 375px;
        width: 100%;
        margin: auto;
        padding: 0px 10px;
    }

    nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .action-btns a {
        padding-right: 10px;
        font-size: 15px !important;
        gap: 5px !important;
    }

    .action-btns a:last-child {
        display: none;
    }

    .user-profile .user-profile__icon {
        width: 40px;
        height: 40px;
    }

    .nav-wrapper .logo p {
        font-style: 18px;
    }

    .links-wrapper {
        display: none;
    }

    .hero {
        padding: 0px 10px;
    }

    .hero .flex {
        flex-direction: column;

    }

    .hero-text h1 {
        font-size: 30px;
    }

    .hero-text .desc {
        margin-bottom: 30px;
    }

    .hero-text .signup-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero-img {
        display: flex;
        justify-content: center;
    }

    .hero-img img {
        width: 80%;
    }

    .cards {
        padding-right: 20px;
        padding-left: 20px;
    }

    .cards .cards-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {}

    .footer-wrapper .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer-wrapper .flex {
        flex-direction: column;
    }

    .footer-wrapper .flex .logo-wrapper {
        padding-bottom: 25px;
    }

    .footer-wrapper .flex-links {
        flex-direction: column;
        gap: 25px;
    }

    .sub-footer__flex {
        gap: 50px;
    }

    .sub-footer__flex .icons {
        justify-content: space-between;
        width: 100%;
    }

    .sub-footer__flex .icons .social-media {
        gap: 15px;
    }

    .view-course .flex {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .read-full-btn {
        background: transparent;
        text-decoration: underline;
        border: none;
        font-size: 18px;
        color: #000;
        font-weight: bold;
    }

    .course-text h3 {
        font-size: 35px;
    }

    /* Dashboard */
    .course-details {
        padding-left: 10px;
        padding-right: 10px;
    }

    .course-details .course-title {
        font-size: 30px;
    }

    .course-lessons {
        flex-direction: column-reverse;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dasboard-desc-btn{
        font-size: 15px !important;
    }
}

/* dasboard +, course +, login +, signup +,  */